body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #456666;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.bg-about-me {
  background: -webkit-linear-gradient(90deg, #e6dace 35%, #ffffff 35%);
  background: -o-linear-gradient(90deg, #e6dace 35%, #ffffff 35%);
  background: -moz-linear-gradient(90deg #e6dace 35%, #ffffff 35%);
  background: linear-gradient(90deg, #e6dace 35%, #ffffff 35%);
}
.full-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.bg-about-me {
  background: -webkit-linear-gradient(90deg, #e6dace 35%, #ffffff 35%);
  background: -o-linear-gradient(90deg, #e6dace 35%, #ffffff 35%);
  background: -moz-linear-gradient(90deg #e6dace 35%, #ffffff 35%);
  background: linear-gradient(90deg, #e6dace 35%, #ffffff 35%);
}
.full-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.super-big-title {
    font-size: 4rem;
    font-weight: 600;
}

.about-me-card {
    background: #f4ece6;
    padding: 0;
    border: 0;
    border-radius: 2% !important
}
.about-me-image-padding {
    padding: 30px 30px 20px 20px;
}
.about-me-line-separator{
    margin: 16px 30%;
}
.external-links {
    padding: 10px 0px 10px 0px;
    background: #ffffff;
    border-radius: 2% !important;    
}
.black-color {
    color: black;
}

.custom-bg-color {
    background: #e6dace;
}
